<html>
    <body>
        <h1>SignUp Page</h1>
        <form action="/signup" method="post">
            Username: <input type="text" name="username"/><br><br>
            Password: <input type="password" name="password"/><br><br>
            <input type="submit"/>
        </form>
    </body>
</html>