<html>
    <body>
        <a href="/add">Add Record </a>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <% data.forEach((item)=>{ %>
                    <tr>
                        <td><%=item.name%></td>
                        <td><%=item.age%></td>
                    </tr>

                <%})%>
            </tr>
        </table>
    </body>
</html>